
body{
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
.header { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 3px 0px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
}
.header > img {
  width: 100px;
}
.nav-links{
  margin-right: 125px;
  display: flex;
  align-items: center;
}
.nav-links > ul{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-links > ul > li{
  list-style: none;
  padding-right: 50px;
}
.nav-links > ul > li > a{
  text-decoration: none;
  color : black
}
.cart-img{
  width: 40px;
}
.login-btn{
  height: 40px;
  background-color: transparent;
  border: 0.5px solid #333;
  color: #333;
  width: 100px;
  border-radius: 4px;
  cursor: pointer;
}
.res-container{
  display: flex;
  margin : 40px;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px;
}
.res-container > a{
  text-decoration: none;
  color: #333;
}
.res-info{
  background-color: #fff;
  z-index: 500;
  width: 100%;
  padding: 20px 0;
}
.res-name{
  margin: 10px;
}
.res-costForTwo{
  margin: 10px;
}
.res-cuisines{
  margin: 10px;
}
.res-rating{
  margin: 10px;
}
.res-delivery-time{
  margin: 10px;
}
.body-container{
  margin-top: 190px;
  width: 100%;
}
.all-filters{
  padding: 20px;
  position: fixed;
  z-index: 50;
  top: 77px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px 0;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-bar { 
  margin: 10px auto;
}
.search-bar > input {
  width: 500px;
  height: 50px;
  border: 0.5px solid #333;
  border-radius: 50px;
  padding: 0px 23px;
  font-size: 22px;
}

.res-card{
  width: 250px;
  margin: 30px;
  position: relative;
  transition: box-shadow 0.5s;
 
}
.res-card:hover{
  box-shadow: 0px 0px 10px 0px;
  cursor: pointer;
}
.res-card > img {
  width: 250px;
  height: 250px;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  
}

.shimmer-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 40px;
  margin-top: 78px;
}
.res-image-shimmer{
  width: 250px;
  height: 300px;
  background-color: #f0f0f0;
}
.res-name-shimmer{
  width: 250px;
  height: 15px;
  background-color: #f0f0f0;
  margin-top: 10px;
}
.res-menu-wrapper{
  width: 700px;
  margin: 0 auto;
}
.restaurant-details{
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.res-menu-name{
  border-bottom: 0.2px solid #333;
  font-size: 1.43rem;
  color: #282c3f;
  font-weight: 600;
  margin-bottom: 8px;
  padding-bottom: 10px;
}
.res-dishes-container{
  margin-top: 40px;
}
.dish-name{
  margin : 20px 4px 10px 0;
  font-size: 1.22rem;
  font-weight: 500;
  color: #3e4152;
  word-break: break-word;
}
.dish-description{
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40,44,63,.45);
  width: 70%;
  letter-spacing: -.3px;
  font-size: 1rem;
}
.dish-price {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: none;
  outline: none;
}

.rupee::before{
  content: "\20B9";
  margin-right: 0.1rem;
}
.dish-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dish-image > img {
  width: 150px;
  aspect-ratio: 16/9;
}
.body-component{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-class{
  margin: 0 auto;
  width: 500px;
  border: 1px solid #333;
  padding: 40px;
}